<a href="https://colab.research.google.com/github/onuigwevitus/breast-cancer/blob/master/Breast_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df=pd.read_csv('/content/breast-cancer-wisconsin.data.txt')
df.head()
df.tail()

         id  Clump_Thickness  ...  Mitoses  Class
694  776715                3  ...        1      2
695  841769                2  ...        1      2
696  888820                5  ...        2      4
697  897471                4  ...        1      4
698  897471                4  ...        1      4

[5 rows x 11 columns]

In [3]:
df.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [4]:
df.isnull().sum()

id                             0
Clump_Thickness                0
Uniformity_Cell_Size           0
Uniformity_Cell_Shape          0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Bland_Chromatin                0
Normal_Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [5]:
df.replace('?', -99999, inplace = True)
df.drop(['id'], 1, inplace = True)

In [6]:
X = np.array(df.drop(['Class'], 1))
y = np.array(df['Class'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X_train, y_train)

accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9785714285714285

In [15]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,1,1,2,3,2,1]])
#example_measures = example_measures.reshape(2,-1) # it can be 2, 1, or any number, so I pref 'len' 
example_measures = example_measures.reshape(len(example_measures),-1)

prediction = clf.predict(example_measures)
print(prediction)

[2 2]